.block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title {
    display: block;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.text {
    margin-top: -5px;
    text-align: center;
}